*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.spring{
  background-image: url(img/box1.jpg);
  height: 200px;
}

.summer{
  background-image: url(img/box2.jpg);
  height: 200px;
}

.autum{
  background-image: url(img/box3.jpg);
  height: 200px;
}

.winter{
  background-image: url(img/box4.jpg);
  height: 200px;
}